NODE_ENV=production
RUNTIME_PLATFORM=docker-compose
V3_ENABLED=true
INTERNAL_OTEL_TRACE_DISABLED=1
INTERNAL_OTEL_TRACE_LOGGING_ENABLED=0

POSTGRES_USER=trigger
POSTGRES_PASSWORD=trigger
POSTGRES_DB=trigger
DATABASE_HOST=trigger-postgres:5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DATABASE_HOST}/${POSTGRES_DB}
DIRECT_URL=${DATABASE_URL}

REDIS_HOST=trigger-redis
REDIS_PORT=6379
REDIS_TLS_DISABLED=true

MAGIC_LINK_SECRET=replace-me
SESSION_SECRET=replace-me
ENCRYPTION_KEY=replace-me
PROVIDER_SECRET=replace-me
COORDINATOR_SECRET=replace-me

DEFAULT_ORG_EXECUTION_CONCURRENCY_LIMIT=300
DEFAULT_ENV_EXECUTION_CONCURRENCY_LIMIT=100

WEBAPP_PUBLISH_IP=0.0.0.0
